<h2 class="text-center"></h2>
<div class="text-center">
    <strong class="text-center" style="font-size: 20px;">Please, provide the following information and proceed to the survey</strong>    
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <div class="row">
                <div class="col-md-1">
                    
                </div>
                <div class="col-md-8">
                    <form ng-submit="main.createUser()">
                        <div class="row">
                            <div class="col-md-4 text-right" style="padding-top:5px;">
                                <strong >Age<span style="color: red;">*</span>:</strong>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" type="number" name="" ng-model="main.user.age" required="">
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-4 text-right" style="padding-top:5px;">
                                <strong >Sex<span style="color: red;">*</span>:</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" id="sel1" ng-model="main.user.sex" required="">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                              </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4 text-right" style="padding-top:5px;">
                                <strong >Profession<span style="color: red;">*</span>:</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" id="sel1" ng-model="main.user.profession" required="">
                                    <option value="Student">Student</option>
                                    <option value="Engineer">Engineer</option>
                                    <option value="Other">Other</option>
                              </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4 text-right" style="padding-top:5px;">
                                <strong >Degree Achived<span style="color: red;">*</span>:</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" id="sel1" ng-model="main.user.highestDegreeAchieved" required="">
                                    <option value="Bachelor">Bachelor</option>
                                    <option value="Masters">Masters</option>
                                    <option value="Other">Other</option>
                              </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4 text-right" style="padding-top:5px;">
                                <strong >Major<span style="color: red;">*</span>:</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" id="sel1" ng-model="main.user.major" required="">
                                    <option value="Computer Science">Computer Science</option>
                                    <option value="Electrical Engineering">Electrical Engineering</option>
                                    <option value="Other">Other</option>
                              </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4 text-right" style="padding-top:5px;">
                                <strong >Machine Learning Knowledge<span style="color: red;">*</span>:</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" id="sel1" ng-model="main.user.macchinLearningKnowledgeLevel" required="">
                                    <option value="Beginner">Beginner</option>
                                    <option value="Good">Good</option>
                                    <option value="Excellent">Excellent</option>
                                    <option value="Other">Other</option>
                              </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit" ng-disabled="!main.user.macchinLearningKnowledgeLevel || !main.user.major || !main.user.highestDegreeAchieved || !main.user.sex || !main.user.age">Next</button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
            <br><br>
             <!-- <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>id</td>
                        <td>Name</td>
                        
                    </tr>
                    
                </thead>
                <tbody>
                    <div>
                        <tr ng-repeat="video in main.ovocie">
                        <td>{{video.id}}</td>
                        <td><a ng-href="#/parent_phase/{{video.url}}/{{video._id}}/phase1/vidSplit">{{video.name}}</a></td>
                        
                        </tr>
                    </div>
                    
                   

                </tbody>
            </table>  -->
        </div>
        
    </div>
</div>


