<div ng-controller="parentPhaseController">
<h3 class="text-center">Video Tutorial {{video_number}}</h3>
<div class="container">
	<div class="row">
		<div class="col-md-2">

		</div>
		<div class="col-md-8 ytplayers">
            <div>
            	<youtube  player-options="options" id="myYoutubePlayer"></youtube> 
            </div>
            <!-- <br> -->
            <div class="text-center">
				<!-- <button ng-click="pauseVideo()">Pause</button> -->
				<!-- <button ng-click="playVideo()">Play</button> -->
				<!-- {{showQuestionDivFlag}} -->
			</div>
    	</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md-12 text-center" style="padding-top: 100px;" ng-if="endedFlag">
		In the next section, we will ask you some questions to measure the workload.
		<strong>Go to the next section</strong>
		<br><br>
    	<button class="btn btn-sm btn-primary" ng-click="goToNASATLX()">Next</button>
	</div>
</div>


<div class="row" ng-if="condition=='vidSplit'">
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center" ng-if="showQuestionDivFlag" style="border-style: inset;
    border-width: 1px;"> 
    	<br>
		<div>
			<strong> Do you agree with the following statement?</strong>
			<!-- <p>{{currentQuestion.selectName}} {{currentQuestion.selectType}} has beeen selected to -->
			 <p>{{currentQuestion.commentDescription}}</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form name="myForm" class="text-center" >
				  <label>
				    <input type="radio" ng-model="answer.type" value="Yes">
				    Yes
				  </label>
				  &nbsp;
				  <label>
				    <input type="radio" ng-model="answer.type" value="No">
				    No
				  </label>
				  &nbsp;
				  <label>
				    <input type="radio" ng-model="answer.type" value="Neutral">
				    Neutral
				  </label>
				  
				 </form>
			</div>
		</div>
		<br>
		<div class="row" ng-if="answer.type=='No' && !agreedFlag">
			<p>Do you want to provide a better answer? 
				<!-- <a href="" ng-click="setAgreed()" style="color:blue;">Yes</a> -->
			</p>

		</div>
		<div class="row" ng-if="answer.type=='No' && agreedFlag">
			<div class="col-md-2">
			</div>
			<div class="col-md-10 form-group">
				<div class="row">
					<div class="col-md-3 text-right">
						<strong>Selection Type:</strong>
					</div>
					<div class="col-md-6 ">
						<select class="form-control" id="sel1" ng-model="currentQuestionEdit.selectType">
						    <option value="Button">Button</option>
						    <option value="Menu Item">Menu Item</option>
						    <option value="Radio">Radio</option>
						    <option value="Check List">Check List</option>
						    <option value="Combo">Combo</option>
						    <option value="Tab">Tab</option>
						    <option value="Entry">Entry</option>
						    <option value="Others">Others</option>
						  </select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3 text-right">
						<strong>Selection Name:</strong>
					</div>
					<div class="col-md-6">
						<input class="form-control" type="text" name="" ng-model="currentQuestionEdit.selectName">
					</div>
					
				</div>

				<div class="row">
					<div class="col-md-3 text-right">
						<strong>Comment Type:</strong>
					</div>
					<div class="col-md-6 ">
						<select class="form-control" id="sel1" ng-model="currentQuestionEdit.commentType">
						    <option value="Objective">Objective</option>
						    <option value="Output">Output</option>
						    <option value="Value Entry">Value Entry</option>
						    <option value="Others">Others</option>
						  </select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3 text-right">
						<strong>Comment Description:</strong>
					</div>
					<div class="col-md-6">
						<textarea rows="4" class="form-control" ng-model="currentQuestionEdit.commentDescription"></textarea>
					</div>
					
				</div>
				<br>
				<!-- <div class="row">
					<div class="col-md-3 text-right">
						<strong>Time(seconds):</strong>
					</div>
					<div class="col-md-6">
						<input type="number" name="" ng-model="currentQuestionEdit.time">
					</div>
				</div> -->
				
			</div>
			
		</div>
		
		<div>
			<button class="btn btn-sm btn-success" ng-click="submitAnswer()" ng-disabled="answer.type==''">Submit</button>
			<!-- <button class="btn btn-sm btn-primary" ng-click="skipAnswer()">Skip</button> -->
		</div>
		<br/>
	</div>
	<br>
</div>



<div class="row" ng-if="condition=='learnerSource'">
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center" ng-if="showQuestionDivFlag" style="border-style: inset;
    border-width: 1px;"> 

    	<div>
			<strong> {{currentQuestionEdit.question}}</strong>	
		</div>
		<br>
		<form>
			<div class="row">
				<!-- <div class="col-md-3"></div> -->
				<div class="col-md-12 text-center">
					<textarea type="text" name="" row="3" placeholder="Type you answer here" ng-model="learnerSourceQuestionAnswer.answer"></textarea>
				</div>
			</div>
			
			<br>
			<div>
				<button class="btn btn-sm btn-success" ng-click="submitAnswer()" ng-disabled="learnerSourceQuestionAnswer.answer==''">Submit</button>
				<!-- <button class="btn btn-sm btn-primary" ng-click="skipAnswer()">Skip</button> -->
			</div>
		</form>

	</div>
		
</div>


</div>
<!-- <style type="text/css">
	.ytplayers {
pointer-events: none;
}
</style> -->